.course-box {
  padding: 10px;
  margin: 10px 0;
  background: #eee;
  border: 1px solid #ddd;

  h3 {
    .hart {
      display: none;
      color: #f80;
      font-size: 1.25em;
      line-height: 1;
    }
  }

  &.top-rate {
    background-color: #fff8d0;

    h3 {
      .hart {
        display: inline;
      }
    }
  }
}

.buttons-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;

  button {
    & + button {
      margin-left: 10px;
    }
  }
}
