<div [ngClass]="course.topRate ? 'course-box top-rate' : 'course-box'" [vcCourseFreshness]="course.creationDate">
  <h3 data-test-id="course-title">
    Video Course {{ courseIndex + 1 }}
    {{ course.titleOfCourse | uppercase }}
    <span>&hearts;</span>
  </h3>
  <h4>
    <span>{{ course.duration | courseDuration }}</span>
    <span> | </span>
    <span>{{ course.creationDate  | date: 'mediumDate'}}</span>
  </h4>
  <p>
    {{ course.description }}
  </p>
  <div class="buttons-box">
    <button>Edit</button>
    <button class="btn-course-delete" (click)="delete()">Delete</button>
  </div>
</div>
